body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 500px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-block-start: 3em;
  margin-block-end: 3em;
}
ul {
  padding: 0;
  margin: 0;
}
.post {
  margin-block-end: 2em;
  padding-block-end: 1em;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
a {
  color: rgb(41, 37, 37);
  text-decoration: none;
}
a:hover {
  color: red;
  transition: .2s;
}
p {
  margin: 0 0 10px;
}
.prevData {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.fullData {
  min-height: 200px;
}
.spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}